<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle glyphicon glyphicon-list" (click)="isCollapsed = !isCollapsed">
      </button>
      <a class="navbar-brand" href="#">动脑商城</a>
    </div>
    <div class="collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="https://dongnaoedu.com/about/about.html">关于我们</a></li>
      </ul>
    </div>
  </div>
</nav>
